@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-black dark:text-zinc-100 py-16 px-8;
  }

  h1 {
    @apply text-4xl font-bold;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-zinc-350: oklch(78.5% 0.015 286.067);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --background: #802424; */
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}
