@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 dark:bg-black dark:text-zinc-100 py-16 px-8;
  }

  h1 {
    @apply text-4xl font-bold;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  --color-zinc-350: oklch(78.5% 0.015 286.067);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --background: #802424; */
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

::selection {
  background-color: #ededed;
  color: #0a0a0a;
}

/* Below we modify the default behavior of tailwind typography plugin: prose */
/* .prose {
  display: flex;
  width: 720px;
} */

.prose {
  /* width: 100%; */
  /* min-width: 720px; */
}

.prose code::before,
.prose code::after {
  content: none;
}

/* inline code only */
.prose :not(pre) > code {
  font-weight: 400;
  padding: 0.125em 0.25em;
  background-color: #1e1e1e;
  /* background-color: #2a2828; */
  color: #ededed;
  border-radius: 0.25rem;
  border: 1px solid #3e3c3c;
}

/* shiki code blocks */
.prose .shiki {
  border-radius: 0.5rem;
  padding: 1rem;
  overflow-x: auto;
  /* margin: 0; */

  line-height: 1.41;
  filter: saturate(1.5) brightness(1.05);
}

.prose .shiki code {
  font-size: 0.875em;
  /* font-size: 13px; */
  /* font-weight: 450; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  /* font-family: monospace; */
  font-family: var(--font-geist-mono), monospace;
}

/* remove backticks from prose on shiki code */
.prose .shiki code::before,
.prose .shiki code::after {
  content: none;
}

/* disable ligatures, "===" merge into a single glyph that looks like ≡ */
.prose code,
.prose pre,
.prose .shiki code {
  font-variant-ligatures: none;
}
